### ------------------------------------ ###
### Server Config
### ------------------------------------ ###

SERVER_NAME=localhost
SERVICE_PORT=3000
SESSION_SECRET=hello-there-123


### ------------------------------------ ###
### LRS Config
### ------------------------------------ ###

LRS_URL=https://lrs.adlnet.gov/xAPI
LRS_BASIC_AUTH=dG9tOjEyMzQ=


### ------------------------------------ ###
### Keycloak Config
### ------------------------------------ ###

AUTH_REALM=pebl
AUTH_CLIENT_ID=pebl-client
AUTH_DOMAIN=localhost/auth
AUTH_CLIENT_SECRET=some-long-string-from-keycloak


### ------------------------------------ ###
### Redis Config
### ------------------------------------ ###

REDIS_AUTH=some-password-491


### ------------------------------------ ###
### Postgres Config
### ------------------------------------ ###

POSTGRES_USER=pebl
POSTGRES_PASSWORD=ChangeMe1293
POSTGRES_DB=services
